<div class="user-profile panel panel-default" tn-state>
	<div class="panel-heading">
		<h3 class="panel-title">User Profile</h3>
	</div>

	<ul class="nav nav-tabs" ng-show="user.list[user_id]">
		<li ng-class="{active: state=='view' || !state}"><a ng-click="go('view')">View Profile</a></li>
		<li ng-class="{active: state=='edit'}"><a ng-click="go('edit')">Edit Profile</a></li>
	</ul>

	<div class="panel-body" ng-if="user.list[user_id]" ng-show="state=='view' || !state">
		<strong>Name:</strong> {{user.list[user_id].name}}<br/>
		<strong>Email:</strong> {{user.list[user_id].email}}<br/>
		<strong>Phone:</strong> {{user.list[user_id].phone}}<br/>
		<strong>Address:</strong> {{user.list[user_id].address}}<br/>
		<strong>Account:</strong> {{user.list[user_id].auth}}<br/>
		<strong>Roles:</strong> {{user.list[user_id].roles}}<br/>
		<strong>Test:</strong> {{user.list[user_id].test}}<br/>
	</div>

	<div class="panel-body" ng-show="state=='edit'">
		<!-- using defaults we don't need to bind directly to the data (use ng-if to make sure the defaults are there) -->
		    <!-- without an ng-if, you will need to manually reset the form (can we $watch defaults and reset pristine fields? is this even useful?) -->
		<tn-form action="/user/{{user_id}}" method="PUT" schema="schema" defaults="user.list[user_id]" ng-if="user.list[user_id]"></tn-form>
		<!--tn-form action="/user/{{user_id}}" method="PUT" schema="schema" input="user.profile"></tn-form-->

		<!-- if we input directly into the service variable, be aware we add the #forms property to it -->
		    <!-- (which could be useful to the service if it wants to know who's editing it) -->
		<!--tn-form action="/user/{{user_id}}" method="PUT" schema="schema" input="user.profile"></tn-form-->
	</div>
</div>